.main-div {
  display: flex;
  max-width: 134px;
  flex-direction: column;
}
.img-pop {
  aspect-ratio: 1.14;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-2-pop {
  justify-content: center;
  align-items: center;
  align-self: center;
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.img-2-pop {
  aspect-ratio: 0.83;
  object-fit: contain;
  object-position: center;
  width: 10px;
  fill: #fff;
  overflow: hidden;
  max-width: 100%;
  margin: auto 0;
}
.div-3-pop {
  color: #fff;
  align-self: stretch;
  font: 600 14px/30px Urbanist, -apple-system, Roboto, Helvetica,
    sans-serif;
}
