.Subscribe {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Subscribe input {
    padding: 13px 20px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(255, 255, 255, 0.1);
    color: #ffffff;
    width: 70%;
    font-family: "Arial, FontAwesome";
}

.Subscribe button {
    padding: 13px 25px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    background-color: #2F81B0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 9px;
}